.about {
    padding-bottom: 94px;
    @media screen and (max-width:1199px){
        display: none;
    }
   
    &__list {
    display: flex;
}
   
    &__list-item {
    position: relative;
    width: 370px;

       &:not(:last-child) {
           margin-right: 30px;
       }
   }

    &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 82px;
   
    background-color: var(--about-bg-color);
}
   
    &__overlay-text{
    margin-bottom: 0;
    
    color: var(--primary-white-color);
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
}    