.page-header{
    @media screen and (max-width:767px){
        padding: 10px 0;
    }

    border-bottom:1px solid var(--border-color-header)
}

.page-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


