.page-header{
    padding: 10px 0;
//    position: relative;
}

.page-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .page-header{
//     border-bottom:1px solid var(--border-color-header);

//     &__container {
//     display: flex;
//     align-items: center;
//     }  
// }