.cards {
    &__list {
       
        @media screen and (min-width:768px){
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
      
    }

    &__list-item{
       border: 1px solid var(--border-color-card);

       @media screen and (max-width:767px){
            width: 100%;
        
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }


       @media screen and (min-width:768px){
           width: calc((100% - 2*30px)/2);
           margin: 15px;
        }

       @media screen and (min-width:1200px){
        width: calc((100% - 3*30px)/3);
        margin: 15px;
        }
    }    

    &__list-link {
        display: inline-block;
        text-decoration: none;
        transition: box-shadow var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function);
    
            &:hover,
            &:focus { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            }
    
            &:hover  .overlay,
            &:focus  .overlay {
            transform: translateY(-100%);
            }
        }
        
    &__content-description {
        padding: 20px 24px;
        }

    &__content-title {
        margin-bottom: 4px;
    
        color: var(--title-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;  
        } 
    
    &__content-text {
        margin-bottom: 0;
    
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.87;
        }
    }

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
   
    transform: translateY(0%);
   
    background-color: var(--portfolio-img-bg);
   
    transition: transform var(--transition-duration) var(--transition-timing-function);

    &__text {
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;

        color: var(--primary-white-color);

        font-size: 18px;
        line-height: 1.56;
        letter-spacing: var(--main-letter-spasing);
    }
}





