.section-title {
    margin-top: 0;
    margin-bottom: 30px;
   
    color: var(--title-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: var(--main-letter-spacing);
    text-align: center;
   

  
    @media screen  and (min-width:1200px){
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}
    